@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



.investment_support .wrapper {
    align-items: stretch;
       font-family: sans-serif;
    margin: 50px 0;
    counter-reset: section;
  }
  .investment_support .wrapper .item .item_wrap .head:before {
    position: relative;
    top: 3px;
    left: 0;
    counter-increment: section;
    content: counter(section, decimal-leading-zero) "/";  
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #333;
    width: 0px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }
  .investment_support .wrapper .item .item_wrap .head {
    padding-left: 0;
    display: flex;
    align-items: self-start;
    justify-content: flex-start;
  }
  
  .investment_support .wrapper .item {
    text-align: left;
    padding: 0 20px;
    position: relative;
  }
  .investment_support .head h4 {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #333;
    margin: 0 0 30px;
    text-transform: uppercase;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.4s ease-in-out;
    font-family: var(--Gotham);
  }
  
  .investment_support .wrapper .item:after {
    content: "";
    width: 0%;
    height: 2px;
    background: #424141;
    position: absolute;
    display: flex;
    transition: all 0.4s ease-in-out;
  }
  .investment_support .wrapper .item:nth-child(1):after {
    left: auto;
    right: 0;
    top: 55%;
    transform: translate(50%, 0%) rotate(90deg);
  }
  .investment_support .wrapper .item:nth-child(2):after {
    left: 20%;
    right: auto;
    top: 100%;
    transform: translate(0%, 0%) rotate(0deg);
  }
  .investment_support .wrapper .item:nth-child(3):after {
    left: auto;
    right: 20%;
    top: 0%;
    transform: translate(0%, 0%) rotate(0deg);
  }
  .investment_support .wrapper .item:nth-child(4):after {
    left: 0px;
    top: 45%;
    transform: translate(-50%, 0%) rotate(90deg);
    right: auto;
    background: #424141;
  }
  
  .investment_support .wrapper .item .text p {
       font-family: monospace;
    font-size: 15px;
    line-height: 20px;
    color: #333;
  }
  .investment_support .wrapper .item .item_wrap {
    padding: 40px;
    margin: 15px 0;
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(50px);
    width: 100%;
    height: calc(100% - 30px);
  }
  /* .investment_support .wrapper.active .item .item_wrap {
      
          
  } */
  
  .investment_support .wrapper .item .item_wrap:before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
      136.82deg,
      rgba(0, 0, 0, 0.25) 25.74%,
      rgba(0, 0, 0, 0) 126.62%
    );
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 0 7%);
    opacity: 0;
  }
  .investment_support .wrapper.active .item .item_wrap:before {
    opacity: 1;
    transition-delay: 2s;
  }
  
  .investment_support .wrapper.active .item:after {
    width: 200px;
  }
  
  .investment_support .wrapper.active .item .item_wrap h4 {
    transition-delay: 1s;
  }
  
  .investment_support .wrapper .item:nth-child(1) .head h4 {
    top: calc(100% - 60px);
    left: calc(100% - 160px);
    /* transition: all 0.4s ease-in-out; */
  }
  .investment_support .wrapper .item:nth-child(2) .head h4 {
    transform: translate3d(0%, 0%, 0px);
    top: calc(100% - 60px);
    left: 40px;
    /* transition:  all 0.4s ease-in-out; */
  }
  .investment_support .wrapper .item:nth-child(3) .head h4 {
    left: calc(100% - 160px);
  }
  
  .investment_support .wrapper .item .item_wrap .text {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    margin-top: 35px;
  }
  .investment_support .wrapper.active .item_wrap .text {
    opacity: 1;
    transition-delay: 2.3s;
  }
  
  .investment_support .wrapper.active .item:nth-child(3) .head h4 {
    left: calc(0% - -40px);
  }
  .investment_support .wrapper.active .item:nth-child(2) .head h4 {
    top: calc(0% - -40px);
  }
  .investment_support .wrapper.active .item:nth-child(1) .head h4 {
    top: calc(0% - -40px);
    left: calc(0% - -40px);
  }
  
  .investment_support .wrapper.active .item .head:before {
    width: 40px;
    transition-delay: 2.4s;
  }
  .investment_support .wrapper .item .head h4 span {
    margin-left: 0px;
    transition: all 0.5s ease-in-out;
  }
  .investment_support .wrapper.active .item .head h4 span {
    margin-left: 50px;
    transition-delay: 2.4s;
  }
  
  .investment_support .wrapper.active .item:nth-child(4) .head h4 {
    transition-delay: 4s;
  }
  .investment_support .wrapper.active .item:nth-child(3) .head h4 {
    transition-delay: 3s;
  }
  .investment_support .wrapper.active .item:nth-child(2) .head h4 {
    transition-delay: 2s;
  }
  .investment_support .wrapper.active .item:nth-child(1) .head h4 {
    transition-delay: 1s;
  }
  .investment_support .wrapper.active .item:nth-child(4) .head:before {
    transition-delay: 4.6s;
  }
  .investment_support .wrapper.active .item:nth-child(3) .head:before {
    transition-delay: 3.6s;
  }
  .investment_support .wrapper.active .item:nth-child(2) .head:before {
    transition-delay: 2.6s;
  }
  .investment_support .wrapper.active .item:nth-child(1) .head:before {
    transition-delay: 1.6s;
  }
  .investment_support .wrapper.active .item:nth-child(4) .head h4 span {
    transition-delay: 4.6s;
  }
  .investment_support .wrapper.active .item:nth-child(3) .head h4 span {
    transition-delay: 3.6s;
  }
  .investment_support .wrapper.active .item:nth-child(2) .head h4 span {
    transition-delay: 2.6s;
  }
  .investment_support .wrapper.active .item:nth-child(1) .head h4 span {
    transition-delay: 1.6s;
  }
  .investment_support .wrapper.active .item:nth-child(4) .head img {
    transition-delay: 1.5s;
    transform: translateX(0px);
    opacity: 1;
  }
  .investment_support .wrapper.active .item:nth-child(3) .head img {
    transition-delay: 1.5s;
    transform: translateX(0px);
    opacity: 1;
  }
  .investment_support .wrapper.active .item:nth-child(2) .head img {
    transition-delay: 1.5s;
    transform: translateX(0px);
    opacity: 1;
  }
  .investment_support .wrapper.active .item:nth-child(1) .head img {
    transition-delay: 1.5s;
    transform: translateX(0px);
    opacity: 1;
  }
  
  .investment_support .wrapper.active .item:nth-child(4) .text {
    transition-delay: 5.7s;
  }
  .investment_support .wrapper.active .item:nth-child(3) .text {
    transition-delay: 4.7s;
  }
  .investment_support .wrapper.active .item:nth-child(2) .text {
    transition-delay: 3.7s;
  }
  .investment_support .wrapper.active .item:nth-child(1) .text {
    transition-delay: 2.7s;
  }
  .investment_support .wrapper.active .item:nth-child(4) .item_wrap:before {
    transition-delay: 5.4s;
    transform: rotate(180deg);
  }
  .investment_support .wrapper.active .item:nth-child(3) .item_wrap:before {
    transition-delay: 4.4s;
    transform: rotateX(180deg);
  }
  .investment_support .wrapper.active .item:nth-child(2) .item_wrap:before {
    transition-delay: 3.4s;
    transform: rotateY(190deg);
  }
  .investment_support .wrapper.active .item:nth-child(1) .item_wrap:before {
    transition-delay: 2.4s;
  }
  .investment_support .wrapper {
    position: relative;
  }
  .investment_support .wrapper:before {
    content: "";
    background: #cfcfcf;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    z-index: 2;
    border: 12px solid #000;
    transition: all 0.4s ease-in-out;
  }
  .investment_support .wrapper.active:before {
    transform: translate(-50%, -50%) scale(1);
  }
  section.investment_support {
    background: #ffffff;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .container {
    max-width: 1320px !important;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  